@import url(./../../static/fonts/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit';
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  padding: 30px 30px 0 30px;
  color: white;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width: 600px) {
    body{
        padding: 20px 20px 0 20px;
    }
}